.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--color-bg);
}

.content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: var(--space-xl);
    background-color: var(--color-bg-muted);
}
