:root {
    /* Neutral Light */
    --color-surface: #fcfbfb;
    --color-bg: #fff;
    --color-bg-muted: #f7f6f6;
    --color-border: #dedbdc;
    --color-preview: #eeecec;

    /* Neutral Dark */
    --color-text: #1a1718;
    --color-text-secondary: #6b6668;

    /* Accent */
    --color-accent: #f8346b;
    --color-link: #1f6fd0;
    --color-negative: #d92d20;

    --shadow-header: 0 1px 2px 0 rgb(29 33 38 / 10%), 0 5px 20px 0 rgb(29 33 38 / 3%);

    --radius-s: 4px;
    --radius-m: 8px;
    --radius-round: 50%;

    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: 32px;

    --layout-header-height: 60px;
    --layout-sidebar-width: 252px;
    --layout-content-width: 940px;

    --font-family: inter, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#react-app {
    height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text);
    background-color: var(--color-bg-muted);
    -webkit-font-smoothing: antialiased;
}

a {
    color: var(--color-link);
    text-decoration: underline;
}

button {
    font: inherit;
}
