.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    height: var(--layout-header-height);
    padding: 0 var(--space-l) 0 64px;
    background-color: var(--color-surface);
    box-shadow: var(--shadow-header);
}

/* H1 / Neutral Dark+60 */
.title {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    color: var(--color-text);
}

.account {
    display: flex;
    gap: var(--space-m);
    align-items: center;
    margin-left: auto;
    font-size: 14px;
}

.login {
    font-weight: 600;
    color: var(--color-text);
}

.signIn,
.signOut {
    color: var(--color-link);
}

.signOut {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
}
